.app {  
  display: flex;  
  flex-direction: column;  
  height: 100vh;  
}  
  
.content {  
  display: flex;  
  flex: 1;  
}  
  
.dashboard {  
  display: grid;  
  grid-template-columns: repeat(3, 1fr);  
  gap: 16px;  
  padding: 16px;  
  width: 100%;  
  overflow-y: auto;  
}  
